venv
*.pyc
staticfiles
staticfiles/*
.idea
*.db
*.sqlite3
kindy/media/images/child/*
kindy/media/images/diary/*
kindy/media/images/themes/*
kindy/media/images/logos/*
kindy/media/images/news/*
kindy/media/images/user/*
kindy/media/files/news/*
kindy/media/files/child/*
kindy/media/files/page/*
kindy/media/files/plan/*

run.sh
kindy/media/CACHE
heroku
heroku.pub
utils/secret.py