@import 'http://fonts.googleapis.com/css?family=Cherry+Swash';

body {
	background:url(/kindy/static/themes/default/images/background.png) repeat;
	font-family:'Cherry Swash', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	font-family:'Cherry Swash', Helvetica, Arial, sans-serif;
}

p { font-size:1.5em; }

h1.title {
	float:left;
	font-size:4em;
}

h1.title a {
	color:#333;
	text-decoration:none;
}

#nav {
	float:right;
	margin:30px 0;
}

#nav ul {
	font-size:2em;
	list-style:none;
}

#nav ul li { float:left; }

#nav ul li a {
	background:#2aae4a;
	border-radius:10px;
	color:#fff;
	display:block;
	margin:0 10px;
	padding:0 15px;
}

#content {
	background:#efc043;
	border-radius:20px;
	margin:30px 0;
	padding:30px;
}