{% extends 'themes/theme_base.html' %}

{% block resources %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes/default.css">{% endblock resources %}

{% block theme_body %}
    <div class="container">
			<h1 class="title"><a href="/{{ childcare.slug }}/">{{ childcare }}</a></h1>
			<div id="nav">
				<ul>
                    {% for page in pages_list %}
					    <li><a href="/{{ childcare.slug }}/{{ page.slug }}">{{ page }}</a></li>
                    {% endfor %}
                    <li><a href="/{{ childcare.slug }}/news">News</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div id="content">
			{% block content %}{% endblock %}
			</div>
		</div>
{% endblock theme_body %}