{% extends 'themes/theme_base.html' %}

{% block resources %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/default/css/default.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/default/css/fancybox.css">
{% endblock resources %}

{% block theme_body %}
	<div id="banner">
		<div class="container">
			<a href="/{{ childcare.slug }}/" class="logo">{{ childcare }}</a>
			<ul class="nav">
            <li><a href="/{{ childcare.slug }}/news/">News</a></li>
			{% for page in pages_list %}
				<li><a href="/{{ childcare.slug }}/{{ page.slug }}/">{{ page }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div id="content">
		<div class="container">
		{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div class="container">
			{{ childcare }}
			<ul class="nav">
				<li><a href="/{{ childcare.slug }}/news/">News</a></li>
			{% for page in pages_list %}
				<li><a href="/{{ childcare.slug }}/{{ page.slug }}/">{{ page }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock theme_body %}