{% extends 'themes/default/base.html' %}

{% block title %}{{ childcare }}{% endblock title %}

{% block content %}
    {% autoescape off %}
    <div class="row">
    	<div class="col-md-4 news">
    		<div class="box">
    			<h2>News</h2>
                {% for news in news_list %}
                    <li><a href="/{{ childcare.slug }}/news/{{ news.slug }}/">{{ news }}</a></li>
                {% endfor %}
    		</div>
    	</div>
    	<div class="col-md-4 about">
    		<div class="box">
    			<h2>About us</h2>
    			{{ childcare.description|linebreaks|slice:":400" }}
                <a href="/{{ childcare.slug }}/about/">Read more</a>
    		</div>
    	</div>
    	<div class="col-md-4 page">
    		<div class="box">
    			<h2>Title</h2>
    			{{ childcare.description|linebreaks|slice:":400" }}
    		</div>
    	</div>
    </div>
    {% endautoescape %}
{% endblock %}