{% extends 'themes/default/base.html' %}

{% block title %}{{ childcare }}{% endblock title %}

{% block content %}
    {% autoescape off %}
    <div class="row">
    	<div class="col-md-4 news">
    		<div class="box">
    			<h2>{{ news_latest }}</h2>
                {{ news_latest.content|linebreaks|slice:":400" }}
                <a href="/{{ childcare.slug }}/news/{{ news_latest.slug }}/" class="button">Read more</a>
    		</div>
    	</div>
    	<div class="col-md-4 about">
    		<div class="box">
    			<h2>About us</h2>
                <img src="{{ STATIC_URL }}themes/default/img/about-us.png" alt="About us">
    			{{ childcare.description|linebreaks|slice:":200" }}
                <a href="/{{ childcare.slug }}/about/" class="button">Read more</a>
    		</div>
    	</div>
    	<div class="col-md-4 page">
    		<div class="box">
    			<h2>{{ page }}</h2>
                <img src="{{ STATIC_URL }}themes/default/img/childcare.png" alt="{{ childcare.name }}">
    			{{ page.content|linebreaks|slice:":200" }}
                <a href="/{{ childcare.slug }}/{{ page.slug }}/" class="button">Read more</a>
    		</div>
    	</div>
    </div>
    {% endautoescape %}
{% endblock %}