/* CUSTOM FONTS */
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext';
/* END CUSTOM FONTS */

/* BOOTSTRAP MODIFICATIONS */
body {
	background:#f5f5f5;
	font-family:Open Sans, Helvetica, Arial, sans-serif;
}

.main-nav {
	background:#636b7e;
	border:none;
	margin:0;
	z-index:10000;
}

.main-nav a { color:#b1b5bf; }
.main-nav .navbar-text { color:#b1b5bf; }

.sub-nav {
	background:#28cbb6;
	border:none;
	box-shadow:0 0 10px #555;
	margin:0;
}

.sub-nav a { color:#fff; }
.sub-nav .navbar-text { color:#fff; }

.sub-nav .home { background:#1db9a4; }

.classroom .sub-nav { background:#f1c40f; }
.classroom .sub-nav .home { background:#f49c14; }

.sub-nav .home p {
	background:url(/static/img/icon-home.png) no-repeat left center;
	padding-left:40px;
	text-transform:uppercase;
}

.sub-nav .breadcrumb {
	background:none;
	margin:7px 0;
}

.sub-nav .breadcrumb > li + li:before { color:#eee; }
/* END BOOTSTRAP MODIFICATIONS */

/* NAVIGATION */
.navbar-default a.logo img { margin:18px 0; }
/* END NAVIGATION */

/* SIDEBAR */
ul.sidebar {
	background:#fff;
	list-style:none;
	padding:20px 0;
}

ul.sidebar li a {
	color:#828998;
	display:block;
	padding:15px;
	padding-left:70px;
	text-decoration:none;
}

ul.sidebar li a:hover,
ul.sidebar li a.active {
	background:#636b7e;
	border-bottom:2px #f75555 solid;
	color:#fff;
	padding-bottom:13px;
}
/* END SIDEBAR */

/* CONTENT */
.content { padding:10px 30px; }

.content ul.action-nav {
	border-bottom:1px #c9cbd1 solid;
	list-style:none;
	padding:0;
}

.content ul.action-nav li {
	display:inline-block;
}

.content ul.action-nav li a {
	color:#838998;
	display:block;
	padding:10px;
	text-decoration:none;
}

.content ul.action-nav li a:hover,
.content ul.action-nav li a.active {
	border-bottom:2px #f75555 solid;
	color:#231f20;
	padding-bottom:8px;
}
/* END CONTENT */