/* CUSTOM FONTS */
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,700,700italic&subset=latin,latin-ext';
/* END CUSTOM FONTS */

/* MAIN DEFINITIONS */
html, body { height:100%; }

body {
	background:#efebea;
	font-family:Ubuntu, Helvetica, Arial, sans-serif;
}
/* END MAIN DEFINITIONS */

/* HEADER */
#header {
	background:#5bb7e8;
	color:#fff;
	left:0;
	padding:15px 30px;
	position:fixed;
	right:0;
}

#header p { margin:0; }
#header a { color:#fff; }
#header span.name { margin-left:30px; }
/* END HEADER */

/* SIDEBAR */
#sidebar {
	background:#323b4c;
	color:#fff;
	float:left;
	min-height:100%;
	width:18%;
}

#sidebar p.name {
	font-size:1.6em;
	margin:50px 0 -1px;
	padding:50px 30px;
	text-align:center;
	text-transform:uppercase;
}

#sidebar p.name a {
	color:#9fa8b1;
	text-decoration:none;
}

#sidebar ul.nav {
	list-style:none;
	margin:0;
	padding:0;
}

#sidebar ul.nav li a {
	background:#455263;
	color:#fff;
	display:block;
	margin-top:1px;
	padding:20px;
	padding-left:60px;
	text-decoration:none;
}

#sidebar ul.nav li a:hover { color:#5bb7e8; }

#sidebar ul.nav li a.active {
	background:none;
	color:#5bb7e8;
}

#sidebar ul.nav li ul.subnav {
	list-style:none;
	padding:0;
}

#sidebar ul.nav li ul.subnav li a {
	background:none;
	font-style:italic;
}
/* END SIDEBAR */

/* CONTENT */
#content {
	color:#333;
	float:left;
	margin-top:50px;
	width:82%;
}

#content .padding { padding:50px 30px; }

#content .nav {
	border-bottom:1px #ccc solid;
	margin-bottom:30px;
}

#content .nav p.title {
	float:left;
	font-size:2em;
	margin-bottom:5px;
	text-transform:uppercase;
}

#content .nav ul.actions {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}

#content .nav ul.actions li {
	float:left;
}

#content .nav ul.actions li a {
	color:#333;
	display:block;
	padding:10px;
	text-decoration:none;
}
/* END CONTENT */