/* CUSTOM FONTS */
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,700,700italic&subset=latin,latin-ext';

@font-face {
	font-family:'Kindy';
	font-style:normal;
	font-weight:normal;
	src:url('../fonts/kindy.eot');
	src:url('../fonts/kindy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/kindy.woff') format('woff'),
		url('../fonts/kindy.ttf') format('truetype'),
		url('../fonts/kindy.svg#kindyiconsregular') format('svg');
}
/* END CUSTOM FONTS */

/* MAIN DEFINITIONS */
html, body { height:100%; }

body {
	background:#efebea;
	font-family:Ubuntu, Helvetica, Arial, sans-serif;
}

hr { border-color:#ddd; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
	background:#5a6173;
	color:#fff;
}
/* END MAIN DEFINITIONS */

/* HEADER */
#header {
	background:#5bb7e8;
	color:#fff;
	left:0;
	padding:15px 30px;
	position:fixed;
	right:0;
	z-index:1000;
}

#header p { margin:0; }
#header a { color:#fff; }

#header a.logo { float:left; }
#header a.logo img { display:block; }
#header span.name { margin-left:30px; }
/* END HEADER */

/* SIDEBAR */
#sidebar {
	background:#313a4b;
	bottom:0;
	color:#fff;
	float:left;
	overflow-y:scroll;
	position:fixed;
	top:0;
	width:18%;
}

#sidebar p.name {
	background:#28303d;
	font-size:1.6em;
	margin:50px 0 0;
	padding:50px 20px;
	text-align:center;
	text-transform:uppercase;
}

#sidebar p.name a {
	color:#9fa8b1;
	text-decoration:none;
}

#sidebar ul.nav {
	list-style:none;
	margin:0;
	padding:0;
}

#sidebar ul.nav li a {
	color:#fff;
	display:block;
	font-size:1.1em;
	outline:none;
	padding:20px;
	padding-left:40px;
	text-decoration:none;
	transition:background 0.2s;
	-moz-transition:background 0.2s;
	-webkit-transition:background 0.2s;
}

#sidebar ul.nav li a span.glyphicon { margin-right:10px; }
#sidebar ul.nav li a:hover, #sidebar ul.nav li a.active { background:#445164; }
#sidebar ul.nav li a:focus { background:none; }

#sidebar ul.nav li ul {
	list-style:none;
	margin:0;
	padding-left:20px;
}

#sidebar ul.nav li ul li a {
	background:none;
	font-size:1em;
	font-style:italic;
}

#sidebar ul.nav li ul li a:hover,
#sidebar ul.nav li ul li a.active {
	background:none;
	text-decoration:underline;
}

#sidebar ul.nav li ul li a.active.external { text-decoration:none; }
/* END SIDEBAR */

/* CONTENT */
#content {
	box-shadow:0 0 10px #000;
	color:#333;
	float:right;
	min-height:100%;
	width:82%;
}

#content .padding {
	margin-top:50px;
	padding:50px 30px 30px;
}

#content .nav {
	border-bottom:1px #ccc solid;
	margin-bottom:30px;
}

#content .nav p.title {
	float:left;
	font-size:2em;
	margin-bottom:5px;
	text-transform:uppercase;
}

#content .nav ul.actions {
	border:none;
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}

#content .nav ul.actions li { float:left; }

#content .nav ul.actions li a {
	color:#333;
	display:block;
	padding:10px;
	text-decoration:none;
}

#content .nav ul.actions li ul li { float:none; }

#content .info-box {
	display:table;
	margin:15px 0;
}

#content .info-box a {
	background:#fff;
	display:block;
	font-size:2em;
	padding:20px;
	text-align:center;
	text-decoration:none;
}

#content .info-box a.static {
	display:table-cell;
	height:200px;
	vertical-align:middle;
}

#content .info-box a .num {
	color:#555;
	font-size:2em;
}
/* END CONTENT */