{% extends 'childcare/childcare_base.html' %}
{% load widget_tweaks %}

{% block title %}Add page file{% endblock %}

{% block content-title %}Add page file{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
      {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="col-md-2 control-label">{{ field.label }}</label>
        <div class="col-md-3">
          {% if field.name == 'file' %}
          {{ field|add_class:'form-control-static' }}
          {% else %}
          {{ field|add_class:'form-control' }}
          {% endif %}
        </div>
        <div class="col-md-3">
          <p class="form-control-static">{{ field.errors.as_text }}</p>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
    <div class="form-group">
      <div class="col-md-2 col-md-offset-2">
        <input type="submit" value="Upload" class="btn btn-success">
      </div>
    </div>
  </form>
{% endblock content %}