{% extends 'childcare/childcare_base.html' %}
{% load widget_tweaks %}

{% block title %}Add page files{% endblock %}

{% block content-title %}Add page files{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset.forms %}
          <tr>
            <td>
              {{ form.as_p }}
            </td>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Upload files">
  </form>
{% endblock %}