{% extends 'kindy/base.html' %}
{% load widget_tweaks %}

{% block title %}Create a childcare site{% endblock title %}

{% block sidebar-title %}Home{% endblock %}

{% block sidebar %}
    <li><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
    <li><a href="/accounts/{{ user.username }}/"><span class="glyphicon glyphicon-user"></span>My profile</a></li>
    <li><a href="/childcare/create/"><span class="glyphicon glyphicon-plus"></span>Create childcare</a></li>
{% endblock %}

{% block content-title %}Create a childcare site{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="col-md-2 control-label">{{ field.label }}</label>
        <div class="col-md-4">
            {% if field.name == 'slug' %}
            <div class="input-group">
                <span class="input-group-addon">kindy.at/</span>
                    {{ field|add_class:'form-control slug'|attr:'readonly' }}
            {% endif %}

            {% if field.name != 'slug' %}{{ field|add_class:'form-control' }}{% endif %}

            {% if field.name == 'slug' %}
                <span class="input-group-addon"><a class="glyphicon glyphicon-pencil edit" style="text-decoration:none;" href="#edit"></a></span>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <p class="form-control-static">{{ field.errors.as_text }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <input type="submit" value="Create" class="btn btn-default">
        </div>
    </div>
</form>
{% endblock content %}

{% block footer %}
    <script type="text/javascript">
        $(function() {
            $('input[name="name"]').keyup(function() {
                var slug = $(this).val().toLowerCase();

                slug = slug.replace(/\ /g, '-');
                slug = slug.replace(/\'/g, '');
                slug = slug.replace(/\č/g, 'c');
                slug = slug.replace(/\š/g, 's');
                slug = slug.replace(/\ž/g, 'z');

                $('input.slug').val(slug);
            });

            $('a.edit').click(function(e) {
                e.preventDefault();
                $('input.slug').prop('readonly', false).focus();
            });
        });
    </script>
{% endblock %}