{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }}{% endblock title %}

{% block breadcrumb %}
    <li>{{ childcare.name }}</li>
{% endblock %}

{% block action %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Add <b class="caret"></b></a>
        <ul class="dropdown-menu">
        {% if user in childcare.managers.all %}
            <li><a href="managers/add/"><span class="glyphicon glyphicon-plus"></span> Add managers</a></li>
        {% endif %}

        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <li><a href="classroom/create/"><span class="glyphicon glyphicon-plus"></span> Create classroom</a></li>
            <li><a href="employees/add/"><span class="glyphicon glyphicon-plus"></span> Add employees</a></li>
            <li><a href="parents/add/"><span class="glyphicon glyphicon-plus"></span> Add parents</a></li>
        {% endif %}
        </ul>
    </li>
    <li><a href="update/"><span class="glyphicon glyphicon-edit"></span> Update childcare</a></li>
    <li><a href="users/invite/"><span class="glyphicon glyphicon-plus"></span> Invite users</a></li>
{% endblock %}

{% block content-title %}{{ childcare.name }}{% endblock content-title %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <a href="classroom/" class="info-box"><span class="num">5</span><br>CLASSROOMS</a>
        </div>
        <div class="col-md-4">
            <a href="managers/" class="info-box"><span class="num">2</span><br>MANAGERS</a>
        </div>
        <div class="col-md-4">
            <a href="employees/" class="info-box"><span class="num">12</span><br>EMPLOYEES</a>
        </div>
        <div class="col-md-4">
            <a href="parents/" class="info-box"><span class="num">30</span><br>PARENTS</a>
        </div>
        <div class="col-md-4">
            <a href="diary/" class="info-box"><span class="num">54</span><br>DIARYS</a>
        </div>
        <div class="col-md-4">
            <a href="newsboard/" class="info-box"><span class="num">16</span><br>NEWS</a>
        </div>
    </div>
{% endblock content %}