{% extends 'kindy/base.html' %}
{% load widget_tweaks %}

{% block title %}Create a childcare site{% endblock title %}

{% block sidebar-title %}
    <a href="/">Home</a>
{% endblock %}

{% block content-title %}Create a childcare site{% endblock %}

{% block content %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-1 control-label">Name</label>
            <div class="col-md-4">
                <input type="text" name="name" class="name form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">URL</label>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">kindy.at/</span>
                    <input type="text" name="slug" class="slug form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">Address</label>
            <div class="col-md-4">
                <input type="text" name="street_address" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">City</label>
            <div class="col-md-4">
                <input type="text" name="city" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <input type="submit" class="btn btn-default" value="Create">
            </div>
        </div>
    </form>
{% endblock content %}

{% block footer %}
    <script type="text/javascript">
        $(function() {
            $('input.name').keyup(function() {
                var slug = $(this).val().toLowerCase();

                slug = slug.replace(/\ /g, '-');
                slug = slug.replace(/\č/g, 'c');
                slug = slug.replace(/\š/g, 's');
                slug = slug.replace(/\ž/g, 'z');

                $('input.slug').val(slug);
            });
        });
    </script>
{% endblock %}