{% extends 'kindy/base.html' %}

{% block sidebar-title %}
	<a href="/{{ childcare.slug }}/dashboard/">Dashboard</a>
{% endblock %}

{% block sidebar %}
	<li><a href="/{{ childcare.slug }}/dashboard/"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
	<li><a href="/{{ childcare.slug }}/dashboard/diary/"><span class="glyphicon glyphicon-list"></span> Diary list</a></li>
	<li><a href="/{{ childcare.slug }}/dashboard/newsboard/"><span class="glyphicon glyphicon-list-alt"></span> Newsboard</a></li>
	<li><a href="/{{ childcare.slug }}/dashboard/pages/"><span class="glyphicon glyphicon-globe"></span> Website pages</a></li>
	<li><a href="/{{ childcare.slug }}/dashboard/gallery/"><span class="glyphicon glyphicon-picture"></span> Gallery</a></li>
{% endblock %}