{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }}{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="classroom/create/"><span class="glyphicon glyphicon-plus"></span> Add classroom</a></li>
        <li><a href="update/"><span class="glyphicon glyphicon-edit"></span> Update childcare</a></li>
        <li><a href="users/invite/"><span class="glyphicon glyphicon-plus"></span> Invite users</a></li>
        <li class="pull-right"><a href="/{{ childcare.slug }}/" target="_blank"><span class="glyphicon glyphicon-globe"></span> Go to website</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare.name }}{% endblock content-title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 info-box">
            <a href="classroom/"><span class="num">{{ classroom_num }}</span><br>
                {% if classroom_num == 1 %}
                    CLASSROOM
                {% else %}
                    CLASSROOMS
                {% endif %}
            </a>
        </div>
        <div class="col-md-4 info-box">
            <a href="diary/"><span class="num">{{ diary_num }}</span><br>
                {% if diary_num == 1 %}
                    DIARY
                {% else %}
                    DIARIES
                {% endif %}
            </a>
        </div>
        <div class="col-md-4 info-box">
            <a href="newsboard/"><span class="num">{{ news_num }}</span><br>NEWS</a>
        </div>
        <div class="col-md-4 info-box">
            <a href="managers/"><span class="num">{{ manager_num }}</span><br>
                {% if manager_num == 1 %}
                    MANAGER
                {% else %}
                    MANAGERS
                {% endif %}
            </a>
        </div>
        <div class="col-md-4 info-box">
            <a href="employees/"><span class="num">{{ employee_num }}</span><br>
                {% if employee_num == 1 %}
                    EMPLOYEE
                {% else %}
                    EMPLOYEES
                {% endif %}
            </a>
        </div>
        <div class="col-md-4 info-box">
            <a href="parents/"><span class="num">{{ parent_num }}</span><br>
                {% if parent_num == 1 %}
                    PARENT
                {% else %}
                    PARENTS
                {% endif %}
            </a>
        </div>
        <div class="col-md-4 info-box">
            <a href="pages/"><span class="num">{{ pages_num }}</span><br>
                {% if pages_num == 1 %}
                    PAGE
                {% else %}
                    PAGES
                {% endif %}
            </a>
        </div>
    </div>
{% endblock content %}