{% extends 'childcare/childcare_base.html' %}
{% load widget_tweaks %}

{% block title %}Update your childcare{% endblock title %}

{% block content-title %}Update {{ childcare }}{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
	{% csrf_token %}
	{% for field in form %}
	<div class="form-group{% if field.errors %} has-error{% endif %}">
		<label class="col-md-2 control-label">{{ field.label }}</label>
		<div class="col-md-3">
			{% if field.name == 'slug' %}
			{{ field|add_class:'form-control'|attr:'readonly:true' }}
			{% else %}
			{{ field|add_class:'form-control' }}
			{% endif %}
		</div>
		<div class="col-md-3">
			<p class="form-control-static">{{ field.errors.as_text }}</p>
		</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input type="submit" value="Update" class="btn btn-success">
		</div>
	</div>
</form>
{% endblock %}