{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }}{% endblock title %}

{% block breadcrumb %}
    <li>{{ childcare.name }}</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="add/"><span class="glyphicon glyphicon-plus"></span> Add employees</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare }} employees{% endblock %}

{% block content %}
    {% if childcare.employees.all %}
        <ul>
        {% for employee in childcare.employees.all %}
            <li>{{ employee }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No employees added yet.</p>
    {% endif %}
{% endblock content %}