{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }}{% endblock title %}

{% block breadcrumb %}
    <li>{{ childcare.name }}</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="add/"><span class="glyphicon glyphicon-plus"></span> Add employees</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare }} employees{% endblock %}

{% block content %}
    {% if employees_list %}
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
            {% for employee in employees_list %}
                <tr>
                    <td>
                        <a href="/accounts/{{ employee.username }}">{{ employee.first_name }} {{ employee.last_name }}</a>
                    </td>
                    <td>
                        {{ employee.username }}
                    </td>
                    <td>
                        {{ employee.email }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if employees_list.has_previous %}
                    <a href="?page={{ employees_list.previous_page_number }}">previous</a>
                {% endif %}

                {% if employees_list.has_other_pages %}
                <span class="current">
                    Page {{ employees_list.number }} of {{ employees_list.paginator.num_pages }}
                </span>
                {% endif %}

                {% if employees_list.has_next %}
                    <a href="?page={{ employees_list.next_page_number }}"> next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No employees added yet.</p>
    {% endif %}
{% endblock content %}