{% extends 'childcare/childcare_base.html' %}
{% load widget_tweaks %}

{% block title %}Edit About us{% endblock title %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/texteditor.css">
{% endblock %}

{% block content-title %}Edit About us for {{ childcare }} website{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
	{% csrf_token %}
	{% for field in form %}
	<div class="form-group{% if field.errors %} has-error{% endif %}">
		<label class="col-md-1 control-label">{{ field.label }}</label>
		<div class="col-md-3">
			{{ field|add_class:'form-control' }}
		</div>
		{% if field.name != 'description' %}
		<div class="col-md-3">
			<p class="form-control-static">{{ field.errors.as_text }}</p>
		</div>
		{% endif %}
	</div>
	{% if field.name == 'description' and field.errors %}
	<div class="form-group">
		<div class="col-md-3 col-md-offset-1">
			<p>{{ field.errors.as_text }}</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	<div class="form-group">
		<div class="col-md-2 col-md-offset-1">
			<input type="submit" value="Update" class="btn btn-default">
		</div>
	</div>
</form>
{% endblock content %}

{% block footer %}
	<script type="text/javascript">
		texteditor('#id_description');
	</script>
{% endblock %}