{% extends 'childcare/childcare_base.html' %}

{% block title %}Edit first page{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/website/">Website</a></li>
    <li>First page</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content-title %}Edit first page description for {{ childcare }} website{% endblock %}

{% block content %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Edit">
    </form>
{% endblock content %}