{% extends 'childcare/childcare_base.html' %}

{% block title %}Image gallery{% endblock title %}

{% block header %}
    {% if image_list %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fancybox.css">
    {% endif %}
{% endblock %}

{% block content-title %}Image gallery{% endblock %}

{% block content %}
    {% if image_list %}
        {% for image in image_list %}
        <div class="pull-left">
            <a href="{{ image.image.url }}" class="fancybox" rel="gallery"><img src="{{ image.thumbnail }}"></a>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
        <div class="pagination">
            <span class="step-links">
                {% if image_list.has_previous %}
                    <a href="?page={{ image_list.previous_page_number }}">previous</a>
                {% endif %}

                {% if image_list.has_other_pages %}
                <span class="current">
                    Page {{ image_list.number }} of {{ image_list.paginator.num_pages }}
                </span>
                {% endif %}

                {% if image_list.has_next %}
                    <a href="?page={{ image_list.next_page_number }}"> next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No photos were uploaded yet.{% if user in childcare.employees.all or user in childcare.managers.all %} Add some to <a href="{% url 'childcare:diary_list' childcare_slug=childcare.slug %}">diary</a> or <a href="{% url 'childcare:news_list' childcare_slug=childcare.slug %}">news</a>.{% endif %}</p>
    {% endif %}
{% endblock content %}

{% block footer %}
    {% if image_list %}
    <script type="text/javascript">
        gallery('a.fancybox');
    </script>
    {% endif %}
{% endblock %}