{% extends 'childcare/childcare_base.html' %}
{% load thumbnail %}

{% block title %}Image gallery{% endblock title %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fancybox.css">
{% endblock %}

{% block breadcrumb %}
    <li>Gallery</li>
{% endblock %}

{% block action_header %}
{% endblock %}

{% block content-title %}Image gallery{% endblock %}

{% block content %}
    <h2>Diary images:</h2>
    {% if diary_image_list %}
        {% for diary_image in diary_image_list %}
        <div class="pull-left">
            <a href="{{ diary_image.image.url }}" class="fancybox" rel="gallery-1" title="Diary for {{ diary_image.diary.date.day }} {{ diary_image.diary.date|date:'M' }} {{ diary_image.diary.date.year }}"><img src="{{ diary_image.image|thumbnail_url:'thumb' }}"></a>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    {% else %}
        <p>No photos were taken yet.</p>
    {% endif %}

    <h2>News images:</h2>
    {% if news_image_list %}
        {% for news_image in news_image_list %}
        <div class="pull-left">
            <a href="{{ news_image.image.url }}" class="fancybox" rel="gallery-2" title="{{ news_image.news }}"><img src="{{ news_image.image|thumbnail_url:'thumb' }}"></a>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    {% else %}
        <p>No photos were taken yet.</p>
    {% endif %}
{% endblock content %}

{% block footer %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox.js"></script>
    <script type="text/javascript">
        gallery('a.fancybox');
    </script>
{% endblock %}