{% extends 'childcare/childcare_base.html' %}
{% load widget_tweaks %}

{% block title %}Invite users{% endblock title %}

{% block content-title %}Invite users{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<div class="form-group">
		<div class="col-md-12">
			<p><span class="label label-warning">Warning</span> {{ form.non_field_errors.as_text }}</p>
		</div>
	</div>
	{% endif %}
	{% for field in form %}
	<div class="form-group{% if field.errors %} has-error{% endif %}">
		<label class="col-md-2 control-label">{{ field.label }}</label>
		<div class="col-md-3">
			{{ field|add_class:'form-control' }}
		</div>
		<div class="col-md-3">
			<p class="form-control-static">{{ field.errors.as_text }}</p>
		</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input type="submit" value="Invite" class="btn btn-success">
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
	<script type="text/javascript">
		$(function() {
			$('select option[value="{{ request.GET.role }}"]').prop('selected', true);
		});
	</script>
{% endblock %}