{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }}{% endblock title %}

{% block breadcrumb %}
    <li>{{ childcare.name }}</li>
{% endblock %}

{% block action %}
    <li><a href="add/"><span class="glyphicon glyphicon-plus"></span> Add managers</a></li>
{% endblock %}

{% block content-title %}{{ childcare }} managers{% endblock %}

{% block content %}
    {% if childcare.managers.all %}
        <ul>
        {% for manager in childcare.managers.all %}
            <li>{{ manager }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No managers.</p>
    {% endif %}
{% endblock content %}