{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }} managers{% endblock title %}

{% block breadcrumb %}
    <li>{{ childcare.name }}</li>
{% endblock %}

{% block action %}
    {% if user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/users/invite/"><span class="glyphicon glyphicon-plus"></span> Invite users</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare }} managers{% endblock %}

{% block content %}
    {% if managers_list %}
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                {% if user in childcare.managers.all %}
                <th>Tools</th>
                {% endif %}
            </tr>
            {% for manager in managers_list %}
                <tr>
                    <td>
                        {% if manager.first_name and manager.last_name %}
                        <a href="/accounts/{{ manager.username }}">{{ manager.first_name }} {{ manager.last_name }}</a>
                        {% else %}
                        <a href="/accounts/{{ manager.username }}">{{ manager.username }}</a> <small>(not set)</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ manager.username }}
                    </td>
                    <td>
                        {{ manager.email }}
                    </td>
                    {% if user in childcare.managers.all %}
                    <td>
                        <a href="/{{ childcare.slug }}/dashboard/managers/{{ manager.username }}/remove/" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if managers_list.has_previous %}
                    <a href="?page={{ managers_list.previous_page_number }}">previous</a>
                {% endif %}

                {% if managers_list.has_other_pages %}
                <span class="current">
                    Page {{ managers_list.number }} of {{ managers_list.paginator.num_pages }}
                </span>
                {% endif %}

                {% if managers_list.has_next %}
                    <a href="?page={{ managers_list.next_page_number }}"> next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No managers.</p>
    {% endif %}
{% endblock content %}