{% extends 'childcare/childcare_base.html' %}

{% block title %}Add managers{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/">{{ childcare }}</a></li>
    <li>Add managers</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content-title %}Add {{ childcare }} managers{% endblock %}

{% block content %}
    <p>Search by username</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
    </form>
{% endblock content %}

{% block footer %}
    {% include 'autocomplete_light/static.html' %}
{% endblock %}