{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }} parents{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="{% url 'childcare:invite_users' childcare_slug=childcare.slug %}?role=Parent"><span class="glyphicon glyphicon-plus"></span> Invite parent</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare }} parents{% endblock %}

{% block content %}
    {% if parents_list %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <th>Tools</th>
                {% endif %}
            </tr>
            {% for parent in parents_list %}
                <tr>
                    <td>
                        {% if parent.get_full_name %}
                        <a href="/accounts/{{ parent.username }}">{{ parent.get_full_name }}</a>
                        {% else %}
                        <a href="/accounts/{{ parent.username }}"><small>(name not set)</small></a>
                        {% endif %}
                    </td>
                    <td>
                        {{ parent.username }}
                    </td>
                    <td>
                        {{ parent.email }}
                    </td>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <td>
                        <a href="{% url 'childcare:parent_remove' childcare_slug=childcare.slug username=parent %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if parents_list.has_previous %}
                <a href="?page={{ parents_list.previous_page_number }}">previous</a>
            {% endif %}

            {% if parents_list.has_other_pages %}
            <span class="current">
                Page {{ parents_list.number }} of {{ parents_list.paginator.num_pages }}
            </span>
            {% endif %}

            {% if parents_list.has_next %}
                <a href="?page={{ parents_list.next_page_number }}"> next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <p>No parents added yet. <a href="{% url 'childcare:invite_users' childcare_slug=childcare.slug %}?role=Parent" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span> Invite parent</a></p>
    {% endif %}
{% endblock content %}