{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }}{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/users/invite/"><span class="glyphicon glyphicon-plus"></span> Invite users</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare }} parents{% endblock %}

{% block content %}
    {% if parents_list %}
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <th>Tools</th>
                {% endif %}
            </tr>
            {% for parent in parents_list %}
                <tr>
                    <td>
                        <a href="/accounts/{{ parent.username }}">{{ parent.first_name }} {{ parent.last_name }}</a>
                    </td>
                    <td>
                        {{ parent.username }}
                    </td>
                    <td>
                        {{ parent.email }}
                    </td>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <td>
                        <a href="/{{ childcare.slug }}/dashboard/parents/{{ parent.username }}/remove/" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if parents_list.has_previous %}
                    <a href="?page={{ parents_list.previous_page_number }}">previous</a>
                {% endif %}

                {% if parents_list.has_other_pages %}
                <span class="current">
                    Page {{ parents_list.number }} of {{ parents_list.paginator.num_pages }}
                </span>
                {% endif %}

                {% if parents_list.has_next %}
                    <a href="?page={{ parents_list.next_page_number }}"> next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No parents added yet.</p>
    {% endif %}
{% endblock content %}