{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }} users{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="{% url 'childcare:invite_users' childcare_slug=childcare.slug %}"><span class="glyphicon glyphicon-plus"></span> Invite user</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}{{ childcare }} users{% endblock %}

{% block content %}
    {% if users_list %}
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <th>Tools</th>
                {% endif %}
            </tr>
            {% for some_user in users_list %}
                <tr>
                    <td>
                        <a href="/accounts/{{ some_user.username }}">{{ some_user.first_name }} {{ some_user.last_name }}</a>
                    </td>
                    <td>
                        {{ some_user.username }}
                    </td>
                    <td>
                        {{ some_user.email }}
                    </td>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <td>
                        {% if some_user in childcare.parents.all %}
                        <a href="{% url 'childcare:parent_remove' childcare_slug=childcare.slug username=some_user %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                        {% elif some_user in childcare.employees.all %}
                        <a href="{% url 'childcare:employee_remove' childcare_slug=childcare.slug username=some_user %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                        {% endif %}
                    </td>
                    {% elif user in childcare.managers.all %}
                        {% if some_user in childcare.managers.all %}
                        <a href="{% url 'childcare:manager_remove' childcare_slug=childcare.slug username=some_user %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if users_list.has_previous %}
                    <a href="?page={{ users_list.previous_page_number }}">previous</a>
                {% endif %}

                {% if users_list.has_other_pages %}
                <span class="current">
                    Page {{ users_list.number }} of {{ users_list.paginator.num_pages }}
                </span>
                {% endif %}

                {% if users_list.has_next %}
                    <a href="?page={{ users_list.next_page_number }}"> next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No users added yet. <a href="/{{ childcare.slug }}/dashboard/users/invite/" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span> Invite user</a></p>
    {% endif %}
{% endblock content %}