{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ page }}{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/website">Website</a></li>
    <li>Page</li>
{% endblock %}

{% block action %}
    <li><a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/files/"><span class="glyphicon glyphicon-plus"></span> Add files</a></li>
{% endblock action %}

{% block content %}
    <h1>{{ page }}</h1>
    <p>{{ page.content|linebreaks }}</p>

    {% if page_file_list %}
        Files:
        <ul>
        {% for file in page_file_list %}
            <li><a href="{{ file.file.url }}">{{ file.description }}</a>, {{ file.uploader }} ({{ file.created }})</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}