{% extends 'childcare/childcare_base.html' %}

{% block title %}Update a website page{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/website/">Website</a></li>
    <li>Update page</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content %}
    <h1>Update a website page {{ page }}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
{% endblock content %}