{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ childcare }} pages list{% endblock title %}

{% block breadcrumb %}
    <li>Pages list</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/page/create/"><span class="glyphicon glyphicon-plus"></span> Add page</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}Pages{% endblock %}

{% block content %}
    {% if page_list %}
        <ul>
        {% for page in page_list %}
            <li><a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}">{{ page }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pages yet.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="/{{ childcare.slug }}/dashboard/page/create/">Write your first page.</a></p>
        {% endif %}
    {% endif %}
{% endblock content %}