{% extends 'childcare/childcare_base.html' %}

{% block title %}Edit website{% endblock title %}

{% block breadcrumb %}
    <li>Website</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/newsboard/create/"><span class="glyphicon glyphicon-plus"></span> Add newsboard post</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/page/create/"><span class="glyphicon glyphicon-plus"></span> Add page</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/theme/"><span class="glyphicon glyphicon-th"></span> Choose theme</a></li>
    {% endif %}
    <li class="pull-right"><a href="/{{ childcare.slug }}/" target="_blank"><span class="glyphicon glyphicon-globe"></span> Go to website</a></li>
{% endblock %}

{% block content-title %}Website{% endblock %}

{% block content %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <h2>First Page (child care description):</h2>
        {% if childcare.description == '' %}
            <p><a href="/{{ childcare.slug }}/dashboard/first-page/edit">Add your childcare description.</a></p>
        {% else %}
            <p>{{ childcare.description }} <a href="/{{ childcare.slug }}/dashboard/first-page/edit">(edit)</a></p>
        {% endif %}
    {% endif %}


    <h2>News:</h2>
    {% if website_news_list %}
        <ul>
        {% for news in website_news_list %}
            <li><a href="/{{ childcare.slug }}/news/{{ news.slug }}">{{ news }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No public news yet.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="/{{ childcare.slug }}/dashboard/newsboard/create/">Write your first website news.</a>
        {% endif %}</p>
    {% endif %}

    <h2><a href="/{{ childcare.slug }}/dashboard/pages/">Pages:</a></h2>
    {% if pages_list %}
        <ul>
        {% for page in pages_list %}
            <li><a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/">{{ page }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pages yet.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="/{{ childcare.slug }}/dashboard/page/create/">Add your first website page.</a>
        {% endif %}</p>
    {% endif %}

    <h2>Theme:</h2>
    <p>{{ childcare.theme.title }}
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="/{{ childcare.slug }}/dashboard/theme">(change)</a></p>
        {% endif %}

{% endblock content %}