{% extends 'childcare/childcare_base.html' %}

{% block title %}Edit website{% endblock title %}

{% block breadcrumb %}
    <li>Website</li>
{% endblock %}

{% block action %}
    <li><a href="/{{ childcare.slug }}/dashboard/newsboard/create/"><span class="glyphicon glyphicon-plus"></span> Add newsboard post</a></li>
    <li><a href="/{{ childcare.slug }}/dashboard/page/create/"><span class="glyphicon glyphicon-plus"></span> Add page</a></li>
    <li><a href="/{{ childcare.slug }}/dashboard/theme/"><span class="glyphicon glyphicon-th"></span> Choose theme</a></li>
    <li class="pull-right"><a href="/{{ childcare.slug }}/" target="_blank"><span class="glyphicon glyphicon-globe"></span> Go to website</a></li>
{% endblock %}

{% block content %}
    <h1>Website</h1>


    <h2>First Page (child care description):</h2>
    {% if childcare.description == '' %}
        <p><a href="/{{ childcare.slug }}/dashboard/first-page/edit">Add a description</a></p>
    {% else %}
        <p>{{ childcare.description }} <a href="/{{ childcare.slug }}/dashboard/first-page/edit">(edit)</a></p>
    {% endif %}


    <h2>News:</h2>
    <ul>
    {% for news in website_news_list %}
        <li><a href="/{{ childcare.slug }}/news/{{ news.slug }}">{{ news }}</a></li>
    {% endfor %}
    </ul>

    <h2>Pages:</h2>
    <ul>
    {% for page in pages_list %}
        <li><a href="/{{ childcare.slug }}/{{ page.slug }}">{{ page }}</a></li>
    {% endfor %}
    </ul>

    <h2>Theme:</h2>
    <p>{{ childcare.get_theme_display }} <a href="/{{ childcare.slug }}/dashboard/theme">(change)</a></p>

{% endblock content %}