{% extends 'childcare/childcare_base.html' %}

{% block title %}Edit website{% endblock title %}

{% block breadcrumb %}
    <li>Website</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/newsboard/create/"><span class="glyphicon glyphicon-plus"></span> Add newsboard post</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/page/create/"><span class="glyphicon glyphicon-plus"></span> Add page</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/theme/"><span class="glyphicon glyphicon-th"></span> Choose theme</a></li>
    {% endif %}
    <li class="pull-right"><a href="/{{ childcare.slug }}/" target="_blank"><span class="glyphicon glyphicon-globe"></span> Go to website</a></li>
{% endblock %}

{% block content-title %}Website{% endblock %}

{% block content %}
    <div class="panel-group" id="accordion">
        {% if user in childcare.employees.all or user in childcare.managers.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">First Page (child care description)</h3>
            </div>
            <div class="panel-body">
            {% if childcare.description == '' %}
                <a href="/{{ childcare.slug }}/dashboard/first-page/edit">Add your childcare description.</a>
            {% else %}
                {{ childcare.description }} <a href="/{{ childcare.slug }}/dashboard/first-page/edit">(edit)</a>
            {% endif %}
            </div>
        </div>
        {% endif %}
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">News</h3>
            </div>
            {% if website_news_list %}
            <table class="table">
                <thead>
                <tr>
                    <th>News title</th>
                    <th>Tools</th>
                </tr>
                </thead>
                <tbody>
                {% for news in website_news_list %}
                <tr>
                    <td>
                        <a href="/{{ childcare.slug }}/news/{{ news.slug }}">{{ news }}</a>
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-body">
                <a href="/{{ childcare.slug }}/dashboard/newsboard/" class="btn btn-default btn-sm">More</a>
            </div>
            {% else %}
            <div class="panel-body">
                No public news yet.
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <a href="/{{ childcare.slug }}/dashboard/newsboard/create/">Write your first website news.</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pages</h3>
            </div>
            {% if pages_list %}
            <table class="table">
                <thead>
                <tr>
                    <th>Page title</th>
                    <th>Tools</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages_list %}
                <tr>
                    <td>
                        <a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/">{{ page }}</a>
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-body">
                <a href="/{{ childcare.slug }}/dashboard/pages/" class="btn btn-default btn-sm">More</a>
            </div>
            {% else %}
            <div class="panel-body">
                No pages yet.
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                <a href="/{{ childcare.slug }}/dashboard/page/create/">Add your first website page.</a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        {% if user in childcare.employees.all or user in childcare.managers.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Theme</h3>
            </div>
            <div class="panel-body">
                {{ childcare.theme.title }} <a href="/{{ childcare.slug }}/dashboard/theme">(change)</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}