{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ page }}{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/files/"><span class="glyphicon glyphicon-plus"></span> Add files</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/delete/"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/update/"><span class="glyphicon glyphicon-edit"></span> Update</a></li>
    {% endif %}
    <li class="pull-right"><a href="/{{ childcare.slug }}/{{ page.slug }}/" target="_blank"><span class="glyphicon glyphicon-globe"></span> See on website</a></li>
{% endblock action %}

{% block content-title %}{{ page }}{% endblock %}

{% block content %}
    {% autoescape off %}
        <p>{{ page.content|safe }}</p>
    {% endautoescape %}

    {% if page_file_list %}
        Files:
        <ul>
        {% for file in page_file_list %}
            <li><a href="{{ file.file.url }}">{{ file.description }}</a>, {{ file.uploader }} ({{ file.created }}) | <a href="/{{ childcare.slug }}/dashboard/page/{{ page.pk }}/file/{{ file.pk }}/delete/">Delete</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}