{% extends 'kindy/base.html' %}

{% block title %}Page not found{% endblock %}

{% block sidebar-title %}Home{% endblock %}

{% block sidebar %}
    <li><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
    <li><a href="/accounts/{{ user.username }}/"><span class="glyphicon glyphicon-user"></span>My profile</a></li>
    <li><a href="/childcare/create/"><span class="glyphicon glyphicon-plus"></span>Create childcare</a></li>
{% endblock %}

{% block content-title %}Page not found{% endblock %}

{% block content %}
	<p>Sorry, but this page doesn't exist.</p>
{% endblock content %}