{% extends 'childcare/childcare_base.html' %}
{% block title %}News{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/newsboard/">Newsboard</a></li>
    <li>Add images</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content-title %}Add news images{% endblock %}

{% block content %}
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset.forms %}
          <tr>
            <td>
              {{ form.as_p }}
            </td>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" />
  </form>
{% endblock content %}