{% extends 'childcare/childcare_base.html' %}

{% block title %}Add news images{% endblock title %}

{% block content-title %}Add news images{% endblock %}

{% block content %}
    <p>Image has to be <strong>smaller than {{ image_size }} MB</strong>. You can upload one image at once (and add more later).</p>
    <p>If you need to resize your photo, you can use online services like <a href="http://www.resize-photos.com/" target='_blank'>www.resize-photos.com</a>.</p>
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset.forms %}
          <tr>
            <td>
              {{ form.as_p }}
            </td>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" />
  </form>
{% endblock content %}