{% extends 'childcare/childcare_base.html' %}

{% block title %}Add news files{% endblock title %}

{% block content-title %}Add news files{% endblock %}

{% block content %}
    <p>File has to be <strong>smaller than {{ file_size }} MB</strong>. You can upload one file at once (and add more later).</p>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset.forms %}
          <tr>
            <td>
              {{ form.as_p }}
            </td>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" />
  </form>
{% endblock content %}