{% extends 'childcare/childcare_base.html' %}
{% load widget_tweaks %}

{% block title %}Create newsboard post{% endblock title %}

{% block content-title %}Create newsboard post{% endblock %}

{% block content %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<form method="post" class="form-horizontal">
	{% csrf_token %}
	{% for field in form %}
	{% comment %} Displaying checkboxes differently {% endcomment %}
	{% if field.name == 'public' %}
	<div class="form-group">
		<div class="col-md-3 col-md-offset-1">
			<div class="checkbox">
				<label>
					{{ field }} {{ field.label }}
				</label>
			</div>
		</div>
	</div>
	{% else %}
	<div class="form-group">
		<label class="col-md-1 control-label">{{ field.label }}</label>
		<div class="col-md-3">
			{{ field|add_class:'form-control' }}
		</div>
		{% if field.name != 'content' %}
		<div class="col-md-3">
			<p class="form-control-static">{{ field.errors.as_text }}</p>
		</div>
		{% endif %}
	</div>
	{% if field.name == 'content' and field.errors %}
	<div class="form-group">
		<div class="col-md-3 col-md-offset-1">
			<p>{{ field.errors.as_text }}</p>
		</div>
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	<div class="form-group">
		<div class="col-md-2 col-md-offset-1">
			<input type="submit" value="Create" class="btn btn-default">
		</div>
	</div>
</form>
{% endblock %}