{% extends 'childcare/childcare_base.html' %}
{% load thumbnail %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fancybox.css">
{% endblock %}

{% block title %}{{ news }}{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="{% url 'childcare:news_add_images' childcare_slug=childcare.slug news_id=news.pk %}"><span class="glyphicon glyphicon-picture"></span> Add images</a></li>
        <li><a href="{% url 'childcare:news_add_files' childcare_slug=childcare.slug news_id=news.pk %}"><span class="glyphicon glyphicon-cloud-upload"></span> Add files</a></li>
        <li><a href="{% url 'childcare:news_update' childcare_slug=childcare.slug news_id=news.pk %}"><span class="glyphicon glyphicon-edit"></span> Update</a></li>
        <li><a href="{% url 'childcare:news_delete' childcare_slug=childcare.slug news_id=news.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
    {% endif %}
{% endblock action %}

{% block content-title %}{{ news }}{% endblock %}

{% block content %}
    <p><strong>{{ news.author.first_name }} {{ news.author.last_name }} | {{ news.created }}</strong></p>
    <p>{{ news.content|safe }}</p>

    {% if news_image_list %}
    <hr>
    <p><strong>Gallery</strong></p>
        {% for image in news_image_list %}
            {% if image.image %}
                <div class="pull-left">
                    <a href="{{ image.image.url }}" class="fancybox" rel="gallery" title="{{ news }}"><img src="{{ image.thumbnail }}"></a>

                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                        <p><a href="{% url 'childcare:news_image_delete' childcare_slug=childcare.slug news_id=news.pk image_id=image.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if user in childcare.employees.all or user in childcare.managers.all %}
        <hr>
        <p><strong>Gallery</strong></p>
        No images were added yet to this news. <a href="{% url 'childcare:news_add_images' childcare_slug=childcare.slug news_id=news.pk %}" class="btn btn-xs btn-default">Add images</a>
        {% endif %}
    {% endif %}

    {% if news_file_list %}
    <div class="clearfix"></div>
    <hr>
    <p><strong>Attachments</strong></p>
        Files:<ul>
        {% for file in news_file_list %}
            {% if file.file %}
                <li><a href="{{ file.file.url }}">{{ file.description }} ({{ file.file.url }})</a>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                        | <a href="{% url 'childcare:news_image_delete' childcare_slug=childcare.slug news_id=news.pk file_id=file.pk %}">Delete</a></li>
                    {% endif %}
                {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        {% if user in childcare.employees.all or user in childcare.managers.all %}
        <div class="clearfix"></div>
        <hr>
        <p><strong>Attachments</strong></p>
        No attachments were added yet to this news. <a href="{% url 'childcare:news_add_files' childcare_slug=childcare.slug news_id=news.pk %}" class="btn btn-xs btn-default">Add attachments</a>
        {% endif %}
    {% endif %}
{% endblock content %}

{% block footer %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox.js"></script>
    <script type="text/javascript">
        gallery('a.fancybox');
    </script>
{% endblock %}