{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ childcare }} newsboard{% endblock title %}

{% block breadcrumb %}
    <li>Newsboard</li>
{% endblock %}

{% block action %}
    <li><a href="/{{ childcare.slug }}/dashboard/newsboard/create/"><span class="glyphicon glyphicon-plus"></span> Add newsboard post</a></li>
{% endblock %}

{% block content %}
    <h1>Newsboard</h1>
    {% if news_list %}
        <ul>
        {% for news in news_list %}
            <li><a href="/{{ childcare.slug }}/dashboard/newsboard/{{ news.pk }}">{{ news }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No news yet. <a href="/{{ childcare.slug }}/dashboard/newsboard/create/">Write your first news.</a></p>
    {% endif %}
{% endblock content %}