{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block content-title %}Add diary images{% endblock %}

{% block content %}
    <p>Image has to be smaller than {{ image_size }} MB. You can upload up to 5 images at once.</p>
    <p>If you need to resize your photos, you can use online services like <a href="http://www.resize-photos.com/" target='_blank'>www.resize-photos.com</a>.</p>
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset.forms %}
          <tr>
            <td>
              {{ form.as_p }}
            </td>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Upload">
  </form>
{% endblock content %}