{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block content-title %}Add diary images{% endblock %}

{% block content %}
    <p>Image has to be smaller than 1 MB. You can upload up to 5 images at once.</p>
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset.forms %}
          <tr>
            <td>
              {{ form.as_p }}
            </td>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" />
  </form>
{% endblock content %}

{% block footer %}
    <script type="text/javascript">
        $(function() {
          $('form').submit(function() {
            $(this).find('input[type="submit"]').val('Loading...').prop('disabled', true);
          });
        });
    </script>
{% endblock %}