{% extends 'childcare/childcare_base.html' %}

{% block title %}Classroom list{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="{% url 'childcare:classroom_create' childcare_slug=childcare.slug %}"><span class="glyphicon glyphicon-plus"></span> Add classroom</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}Classrooms{% endblock %}

{% block content %}
    {% if classroom_list %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Classroom</th>
                <th>Description</th>
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                <th>Tools</th>
                {% endif %}
            </tr>
            {% for classroom in classroom_list %}
                <tr>
                    <td>
                        {{ classroom }}
                    </td>
                    <td>
                        {{ classroom.description }}
                    </td>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <td>
                        <a href="{% url 'childcare:classroom_update' childcare_slug=childcare.slug classroom_id=classroom.pk %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Update</a>
                        <a href="{% url 'childcare:classroom_delete' childcare_slug=childcare.slug classroom_id=classroom.pk %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if classroom_list.has_previous %}
                <a href="?page={{ classroom_list.previous_page_number }}">previous</a>
            {% endif %}

            {% if classroom_list.has_other_pages %}
            <span class="current">
                Page {{ classroom_list.number }} of {{ classroom_list.paginator.num_pages }}
            </span>
            {% endif %}

            {% if classroom_list.has_next %}
                <a href="?page={{ classroom_list.next_page_number }}"> next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>No classrooms.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            You need at least one to publish e-diaries.
            <a href="{% url 'childcare:classroom_create' childcare_slug=childcare.slug %}">Add a classroom.</a>
        {% endif %}</p>
    {% endif %}
{% endblock content %}