{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block breadcrumb %}
    <li>Daily diary list</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/diary/create/"><span class="glyphicon glyphicon-plus"></span> Add a diary</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}Daily diary list{% endblock content-title %}

{% block content %}
    {% if diary_list %}
    <ul>
        {% for diary in diary_list %}
            <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}">{{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No diaries yet.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="/{{ childcare.slug }}/dashboard/diary/create/">Write your first e-diary!</a>
        {% endif %}</p>
    {% endif %}
{% endblock content %}