{% extends 'childcare/childcare_base.html' %}

{% block title %}Daily diary list{% endblock title %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
    <li><a href="{% url 'childcare:diary_create' childcare_slug=childcare.slug %}"><span class="glyphicon glyphicon-plus"></span> Add a diary</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}Daily diary list{% endblock content-title %}

{% block content %}
    {% if diary_list %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Diary</th>
                <th>Classroom</th>
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                <th>Tools</th>
                {% endif %}
            </tr>
            {% for diary in diary_list %}
                <tr>
                    <td>
                        <a href="{% url 'childcare:diary_detail' childcare_slug=childcare.slug diary_id=diary.pk %}">{{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</a>
                    </td>
                    <td>
                        {{ diary.classroom }}
                    </td>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                    <td>
                        <a href="{% url 'childcare:diary_add_images' childcare_slug=childcare.slug diary_id=diary.pk %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add images</a>
                        <a href="{% url 'childcare:diary_update' childcare_slug=childcare.slug diary_id=diary.pk %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Update</a>
                        <a href="{% url 'childcare:diary_delete' childcare_slug=childcare.slug diary_id=diary.pk %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if diary_list.has_previous %}
                <a href="?page={{ diary_list.previous_page_number }}">previous</a>
            {% endif %}

            {% if diary_list.has_other_pages %}
            <span class="current">
                Page {{ diary_list.number }} of {{ diary_list.paginator.num_pages }}
            </span>
            {% endif %}

            {% if diary_list.has_next %}
                <a href="?page={{ diary_list.next_page_number }}"> next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>No diaries yet.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="{% url 'childcare:diary_create' childcare_slug=childcare.slug %}">Write your first e-diary!</a>
        {% endif %}</p>
    {% endif %}
{% endblock content %}