{% extends 'childcare/childcare_base.html' %}
{% load thumbnail %}

{% block title %}Image{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/diary/">Diary list</a></li>
    <li>Delete</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content-title %}Delete image?{% endblock %}

{% block content %}
    <p>Are you sure you want to delete this image?</p>
    <p><img src="{{ image.image.url }}.100x100_q85_crop_upscale.jpg"></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
    </form>
{% endblock content %}