{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block breadcrumb %}
    <li>Daily diary list</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/diary/create/"><span class="glyphicon glyphicon-plus"></span> Add a diary</a></li>
    {% endif %}
{% endblock %}

{% block content-title %}Daily diary list{% endblock content-title %}

{% block content %}
    {% if diary_list %}
    <table class="table table-bordered">
        <tr>
            <th>Diary</th>
            <th>Classroom</th>
            {% if user in childcare.employees.all or user in childcare.managers.all %}
            <th>Tools</th>
            {% endif %}
        </tr>
        {% for diary in diary_list %}
            <tr>
                <td>
                    <a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}">{{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</a>
                </td>
                <td>
                    {{ diary.classroom }}
                </td>
                {% if user in childcare.employees.all or user in childcare.managers.all %}
                <td>
                    <a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/images/" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add images</a>
                    <a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/update/" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Update</a>
                    <a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/delete/" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No diaries yet.
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <a href="/{{ childcare.slug }}/dashboard/diary/create/">Write your first e-diary!</a>
        {% endif %}</p>
    {% endif %}
{% endblock content %}