{% extends 'childcare/childcare_base.html' %}
{% block title %}Daily diary{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/diary/">Diary list</a></li>
    <li>Update</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content-title %}Update a diary for {{ diary.date }}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
{% endblock content %}