{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/diary/">Diary list</a></li>
    <li>Create</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content %}
    <h1>Update a diary for {{ object.date }}</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
{% endblock content %}