{% extends 'childcare/childcare_base.html' %}
{% load thumbnail %}

{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fancybox.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/diary/">Diary list</a></li>
    <li>{{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</li>
{% endblock %}

{% block action %}
    {% if user in childcare.employees.all or user in childcare.managers.all %}
        <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/images/"><span class="glyphicon glyphicon-plus"></span> Add images</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/delete/"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
        <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/update/"><span class="glyphicon glyphicon-edit"></span> Update</a></li>
    {% endif %}
{% endblock action %}

{% block content-title %}A diary for {{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}{% endblock %}

{% block content %}
    <p><strong>Classroom:</strong> {{ diary.classroom }}</p>
    <p>{{ diary.content|linebreaks }}</p>
    {% if diary_image_list %}
        {% for image in diary_image_list %}
            {% if image.image %}
                <div class="pull-left">
                    <a href="{{ image.image.url }}" class="fancybox" rel="gallery"><img src="{% thumbnail image.image 100x100 crop %}"></a>
                    {% if user in childcare.employees.all or user in childcare.managers.all %}
                        <p><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/image/{{ image.pk }}/delete/"><span class="glyphicon glyphicon-remove"></span> Delete</a></p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if user in childcare.employees.all or user in childcare.managers.all %}
            <p>No images were added yet to this diary. <a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/images/">Add images</a></p>
        {% endif %}
    {% endif %}
{% endblock content %}

{% block footer %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.fancybox').fancybox({ type: 'image' });
        });
    </script>
{% endblock %}