{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block breadcrumb %}
    <li><a href="/{{ childcare.slug }}/dashboard/diary/">Diary list</a></li>
    <li>{{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</li>
{% endblock %}

{% block action %}
    <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/images/"><span class="glyphicon glyphicon-plus"></span> Add images</a></li>
    <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/delete/"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
    <li><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/update/"><span class="glyphicon glyphicon-edit"></span> Update</a></li>
{% endblock action %}

{% block content %}
    <h1>A diary for {{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</h1>
    <p><b>Classroom:</b> {{ diary.classroom }}</p>
    <p>{{ diary.content|linebreaks }}</p>
    {% if diary_image_list %}
        {% for image in diary_image_list %}
            {% if image.image %}
                <img src="{{ image.image.url }}" height="100" width="100"> <p><a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/image/{{ image.pk }}/delete/">Delete image</a></p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No images were added yet to this diary. <a href="/{{ childcare.slug }}/dashboard/diary/{{ diary.pk }}/images/">Add images</a></p>
    {% endif %}
{% endblock content %}