<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Kindy - child care management system</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kindy.css">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K9D8QZ" height="0" width="0" style="display:none; visibility:hidden"></iframe></noscript>
		<script>
		// <![CDATA[
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K9D8QZ');
		// ]]>
		</script>
		<!-- End Google Tag Manager -->
		{% block header %}{% endblock %}
	</head>
	<body class="{% block body-class %}{% endblock %}">
		<div id="header">
			<a href="/" class="logo"><img src="{{ STATIC_URL }}img/logo.png" alt="Kindy"></a>
			<span class="name">{{ childcare }}</span>
			<p class="pull-right">
			{% if user.is_authenticated %}
				<span class="glyphicon glyphicon-home"></span> <a href="/">Home</a> |
				<span class="glyphicon glyphicon-user"></span> <a href="/accounts/{{ user }}">{% if user.first_name == '' %}{{ user }}{% else %}{{ user.first_name }} {{ user.last_name }}{% endif %}</a> |
				<span class="glyphicon glyphicon-log-out"></span> <a href="/accounts/signout/">Logout</a>
			{% else %}
				<span class="glyphicon glyphicon-log-in"></span> <a href="/accounts/signin/">Login</a>
			{% endif %}
			</p>
		</div>
		<div id="sidebar">
			<p class="name">{% block sidebar-title %}{% endblock %}</p>
			<ul class="nav">
				{% block sidebar %}{% endblock %}
			</ul>
		</div>
		<div id="content">
			<div class="padding">
				<div class="nav">
					<p class="title">{% block content-title %}{% endblock %}</p>
					{% block action_header %}
					<ul class="nav navbar-nav actions">
						{% block action %}{% endblock action %}
					</ul>
					{% endblock action_header %}
				</div>
				{% block content %}{% endblock %}
			</div>
		</div>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#sidebar ul.nav a[href="{{ request.path }}"]').addClass('active');
			});
		</script>
		{% block footer %}{% endblock %}
	</body>
</html>