<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Kindy - child care management system</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kindy.css">
	</head>
	<body class="{% block body-class %}{% endblock %}">
		<div class="navbar navbar-default navbar-static-top main-nav">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="logo"><img src="{{ STATIC_URL }}img/logo.png" alt="Kindy"></a>
				</div>
				<p class="navbar-text navbar-right">
				{% if user.is_authenticated %}
					<span class="glyphicon glyphicon-user"></span> <a href="/">{% if user.first_name == '' %}{{ user }}{% else %}{{ user.first_name }} {{ user.last_name }}{% endif %}</a> |
					<span class="glyphicon glyphicon-log-out"></span> <a href="/accounts/signout/">Logout</a>
				{% else %}
					<span class="glyphicon glyphicon-log-in"></span> <a href="/accounts/signin/">Login</a>
				{% endif %}
				</p>
			</div>
		</div>
		<div class="navbar navbar-default navbar-static-top sub-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-3 home">
						<p class="navbar-text">{% block sidebar-title %}{% endblock %}</p>
					</div>
					<div class="col-md-9">
						<ol class="navbar-text breadcrumb">{% block breadcrumb %}{% endblock %}</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<ul class="col-md-3 sidebar">
					{% block sidebar %}{% endblock %}
				</ul>
				<div class="col-md-9 content">
                {% block action_header %}
					<ul class="action-nav">
                    {% block action %}{% endblock action %}
                	</ul>
                {% endblock action_header %}
                	<div class="clearfix"></div>
					{% block content %}{% endblock %}
					{% block main_content %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>