{% extends 'kindy/base.html' %}

{% block title %}Home{% endblock %}

{% block sidebar-title %}
	<a href="/">Home</a>
{% endblock %}

{% block breadcrumb %}
    {{ user.first_name }} {{ user.last_name }} {{ user.get_full_name }}
{% endblock %}

{% block action %}
    <li><a href="/childcare/create/"><span class="glyphicon glyphicon-plus"></span> Create a childcare site</a></li>
    <li><a href="/accounts/{{ user.username }}/"><span class="glyphicon glyphicon-pencil"></span> Edit profile</a></li>
{% endblock %}

{% block content-title %}
    Hello{% if user.first_name == '' %} {{ user }}{% else %} {{ user.first_name }} {{ user.last_name }}{% endif %}!
{% endblock %}

{% block content %}
    {% if childcare_list_manager %}
        <p>Manager:</p>
        <ul>
        {% for childcare in childcare_list_manager %}
            <li><a href="/{{ childcare.slug }}/dashboard">{{ childcare }}</a></li>
        {% endfor %}
        </ul>
    {% elif childcare_list_employee %}
        <p>Employee:</p>
        <ul>
        {% for childcare in childcare_list_employee %}
            <li><a href="/{{ childcare.slug }}/dashboard">{{ childcare }}</a></li>
        {% endfor %}
        </ul>
    {% elif childcare_list_parent %}
        <p>Parent:</p>
        <ul>
        {% for childcare in childcare_list_parent %}
            <li><a href="/{{ childcare.slug }}/dashboard">{{ childcare }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}