{% extends 'kindy/base.html' %}

{% block title %}Home{% endblock %}

{% block sidebar-title %}
	<a href="/">Home</a>
{% endblock %}

{% block breadcrumb %}
    {{ user.first_name }} {{ user.last_name }} {{ user.get_full_name }}
{% endblock %}

{% block sidebar %}
    <li><a href="/accounts/{{ user.username }}/">Profile</a></li>
    <li><a href="/childcare/create/">Create childcare</a></li>
{% endblock %}

{% block action %}
{% endblock %}

{% block content-title %}
    Hello{% if user.first_name == '' %} {{ user }}{% else %} {{ user.first_name }} {{ user.last_name }}{% endif %}!
{% endblock %}

{% block content %}
    {% if childcare_list_manager or childcare_list_employee or childcare_list_parent %}
        <div class="row">
        {% if childcare_list_manager %}
            {% for childcare in childcare_list_manager %}
            <div class="col-md-4 info-box">
                <a href="/{{ childcare.slug }}/dashboard/" class="static">{{ childcare }}</a>
            </div>
            {% endfor %}
        {% endif %}
        {% if childcare_list_employee %}
            {% for childcare in childcare_list_employee %}
            <div class="col-md-4 info-box">
                <a href="/{{ childcare.slug }}/dashboard/" class="static">{{ childcare }}</a>
            </div>
            {% endfor %}
        {% endif %}
        {% if childcare_list_parent %}
            {% for childcare in childcare_list_parent %}
            <div class="col-md-4 info-box">
                <a href="/{{ childcare.slug }}/dashboard/" class="static">{{ childcare }}</a>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    {% else %}
        <p>Are you a childcare manager? <a href="childcare/create/">Create a site for your child care.</a></p>
    {% endif %}
{% endblock %}