{% extends 'kindy/base.html' %}

{% block title %}Home{% endblock %}

{% block sidebar-title %}
	<a href="/">Home</a>
{% endblock %}

{% block sidebar %}
    <li><a href="/accounts/{{ user.username }}/">Profile</a></li>
    <li><a href="/childcare/create/">Create childcare</a></li>
{% endblock %}

{% block content-title %}
    Hello{% if user.first_name == '' %} {{ user }}{% else %} {{ user.first_name }} {{ user.last_name }}{% endif %}!
{% endblock %}

{% block content %}
    {% if all_childcare_list %}
        <div class="row">
            {% for childcare in all_childcare_list %}
            <div class="col-md-4 info-box">
                <a href="/{{ childcare.slug }}/dashboard/" class="static">{{ childcare }}</a>
            </div>
            {% endfor %}
            <div class="col-md-4 info-box" style="opacity:0.9;">
                <a href="/childcare/create/" class="static">Create new childcare</a>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-4 info-box">
                <a href="/childcare/create/" class="static">Create childcare</a>
            </div>
        </div>
    {% endif %}
{% endblock %}