<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Kindy - child care management system</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<style type="text/css">
			html, body { height:100%; }

			body {
				background:#5bb7e8;
				display:table;
				width:100%;
			}

			.container {
				display:table-cell;
				height:100%;
				vertical-align:middle;
			}

			.panel {
				margin:0 auto;
				width:300px;
			}

			.panel .panel-body {
				padding:20px 20px 10px;
			}
		</style>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div class="container">
			<p class="text-center"><img src="{{ STATIC_URL }}img/logo.png" alt="Kindy"></p>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{% block content-title %}{% endblock %}</h3>
				</div>
				<div class="panel-body">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script type="text/javascript">
		// <![CDATA[
			$(function() {
				$('input').tooltip({ animation: false, trigger: 'focus' });
				$('input').tooltip('show');
			});
		// ]]>
		</script>
	</body>
</html>