{% extends "kindy/base.html" %}
{% load i18n %}

{% block sidebar-title %}
	{% if user.username == profile.user.username %}
	<a href="/accounts/{{ profile.user.username }}/">Profile</a>
	{% else %}
	<a href="/">Home</a>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% block profile_navigation %}
		{% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
		{% if user.username == profile.user.username %}
			{% block profile_navigation_items %}
			<li><a href="{% url 'userena_profile_detail' user.username %}"><span class="glyphicon glyphicon-user"></span> {% trans "View profile" %}</a></li>
			<li><a href="{% url 'userena_profile_edit' user.username %}"><span class="glyphicon glyphicon-edit"></span> {% trans "Edit details" %}</a></li>
			<li><a href="{% url 'userena_password_change' user.username %}"><span class="glyphicon glyphicon-lock"></span> {% trans "Change password" %}</a></li>
			<li><a href="{% url 'userena_email_change' user.username %}"><span class="glyphicon glyphicon-envelope"></span> {% trans "Change email" %}</a></li>
			{% endblock %}
		{% endif %}
	{% endblock %}
{% endblock %}