{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}

{% block content-title %}{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}{% endblock %}

{% block content %}
  <div id="details">
    {% block profile_details %}
      <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" class="mugshot pull-left" style="margin:0 10px 10px 0;">
      {% block profile_definition_list %}
        <p>
        {% if profile.user.get_full_name %}
          {% trans "Name:" %}
          {{ profile.user.get_full_name }}<br>
        {% endif %}
        {% if profile.user.email and not hide_email %}
          {% trans "Email:" %}
          {{ profile.user.email }}<br>
        {% endif %}
        </p>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
