{% extends 'userena/base_sign.html' %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block content-title %}Register{% endblock %}

{% block content %}
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group{% if field.errors %} has-error{% endif %}">
			<label class="col-md-2 control-label">{{ field.label }}</label>
			<div class="col-md-3">
				{{ field|add_class:'form-control' }}
			</div>
			<div class="col-md-3">
				<p class="form-control-static">{{ field.errors.as_text }}</p>
			</div>
		</div>
		{% endfor %}
		<div class="form-group">
			<div class="col-md-3 col-md-offset-2">
				<input type="submit" value="Register" class="btn btn-success pull-left" style="margin-right:10px;">
				<p class="form-control-static">or <a href="{% url 'userena_signin' %}">login</a></p>
			</div>
		</div>
	</form>
{% endblock %}