{% extends 'userena/base_sign.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content-title %}Login{% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
		<div class="alert alert-warning text-center"><strong>Warning!</strong> {{ form.non_field_errors.as_text|cut:'* ' }}</div>
		{% endif %}
		{% for field in form %}
		{% if field.name == 'remember_me' %}
		<div class="checkbox">
			<label>{{ field }} {{ field.label }}</label>
		</div>
		{% else %}
		<div class="form-group{% if field.errors %} has-error{% endif %}">
			<label>{{ field.label }}</label>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-{% if field.name == 'identification' %}user{% else %}lock{% endif %}"></span></span>
				{% render_field field class='input-lg form-control' title=field.errors.as_text %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="form-group">
			<button type="submit" class="btn btn-lg btn-primary btn-block">Login <span class="glyphicon glyphicon-log-in"></span></button>
		</div>
		<div class="form-group text-center">
			<p>You don't have an account? <a href="{% url 'userena_signup' %}">Register!</a><br>Forgot your password? <a href="{% url 'userena_password_reset' %}">Reset it!</a></p>
		</div>
		{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
	</form>
{% endblock %}