{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content-title %}Login{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
  {% csrf_token %}
  {% for field in form %}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <div class="form-group">
      <div class="col-md-3 col-md-offset-2">
        <div class="checkbox">
          <label>
            {{ field }} {{ field.label }}
          </label>
        </div>
      </div>
    </div>
    {% else %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label">{{ field.label }}</label>
      <div class="col-md-3">
        {{ field|add_class:'form-control' }}
      </div>
      <div class="col-md-7">
        <p class="form-control-static">{{ field.errors.as_text }}</p>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <input type="submit" value="{% trans "Login" %}" class="btn btn-success pull-left" style="margin-right:10px;">
      <p class="form-control-static">Not registered yet? <a href="{% url 'userena_signup' %}">Sign up</a></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 col-md-offset-2">
      <p><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
    </div>
  </div>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock %}